.children_background{
    background: linear-gradient(180deg, #71E5A1 0%, #77FFAF 0.01%, #75FEAF 0.02%, #3BC8C1 100%);
  height: 3200px;
  margin-top: 159px;
  border-radius: 20px;
}

.oneChild{
    display: flex;
    
    &_placeholder {
        border-radius: 100%;
        border: none;
        height: 192px;
        width: 192px;
        margin: 26px 0 36px;
      }
    &_name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
        min-width: 178px;
        height: 50px;
        margin: 0 0;
        background-color: #ffff;
        border-radius: 40px;
    }
    &_title{
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_age{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
        background: #FDFFA7;
        border-radius: 40px;
        min-width: 128px;
        height: 60px;
        margin-bottom: 32px;
    }
    &_dateOfBirth{
        font-size: 20px;
        line-height: 24px;
    }
}
.infoChild{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_fact{
        font-weight: 500;
         font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    &_faсtInfo{
        display: flex;
    }
    &_input{
        width: 127px;
        height: 49px;
        padding: 0 10px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

    }
    &_blocInputHeight{
    margin: 39px 49px 0px 0px;  
    }
    &_blocInputWeight{
        margin-top: 39px;
    }
}
.oneChildren{
&_back{
    margin: 0 auto;
    width: 863px;
}
&_banner{
    background-color: darkgrey;
    margin: 65px 56px;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
}
&_upImg{
    display: flex;
    
}
&_img{
    width: 320px;
    height: 320px;
    background-color: #fff;
    border-radius: 20px;
}

&_gallery{
    font-weight: 600;
font-size: 30px;
line-height: 36px;
}
&_laugh{
    width: 365px;
    height: 78px;
}
}
.childrenSkills{
    display: flex;
    margin-top: 130px;
    &_info{
        display: flex;
        flex-direction: column;
    }
    &_infoNow{
        display: flex;
        background: #FDFFA7;
        border-radius: 20px;
        width: 383px;
        height: 67px;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
        font-weight: 500;
font-size: 16px;
line-height: 19px;
margin-bottom: 22px;
    }
    &_infoNowStend{
        height: 295px;
        width: 460px;
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
    align-items: center;
    justify-content: center;
    }
}